# -----------------------------------
# GENERAL
# -----------------------------------
.old
.bak
.DS_Store
**/debug

# -----------------------------------
# SECRETS
# -----------------------------------
.env
.secrets
.ssh
ssh


# -----------------------------------
# APPS
# -----------------------------------

# CLAUDE
/claude/.config/claude/*
!/claude/.config/claude/CLAUDE.md
!/claude/.config/claude/settings.json
!/claude/.config/claude/policy-limits.json
!/claude/.config/claude/commands/
!/claude/.config/claude/skills/

# GH
/gh/.config/gh/hosts.yml

# MICRO
/micro/.config/micro/*
!/micro/.config/micro/settings.json
!/micro/.config/micro/bindings.json

# HERDR
/herdr/.config/herdr/*
!/herdr/.config/herdr/config.toml
!/herdr/.config/herdr/.plugins.lock
!/herdr/.config/herdr/plugins.json

# KARABINER
/karabiner/.config/karabiner/automatic_backups

# T3
/t3/.t3/*
!/t3/.t3/scripts

# ZED
/zed/.config/zed/conversations
/zed/.config/zed/prompts

# ZSH
/zsh/.zsh_history
