# -----------------------------------
# GENERAL
# -----------------------------------
.old
.bak
.DS_Store
**/debug

# -----------------------------------
# SECRETS
# -----------------------------------
.env
.secrets
.ssh


# -----------------------------------
# APPS
# -----------------------------------

# CLAUDE
/.config/claude/*
!/.config/claude/CLAUDE.md
!/.config/claude/settings.json
!/.config/claude/policy-limits.json
!/.config/claude/skills/


# KARABINER
/.config/karabiner/automatic_backups


# VS CODE
.vscode/


# WARP
/.warp/themes/*
!/.warp/themes/custom/


# ZED
/.config/zed/conversations
/.config/zed/prompts
